body{
	overflow: hidden;
	margin:0;
}
nav{
	position: fixed;
	width:100%;
	display:inline;
	text-align: center;
	z-index: 99999;
}
nav ul{
	margin: 10px;
	list-style: none;
}
nav ul li{
	display: inline-block;
}
.nav-btn{
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
	font-size: 40px;
	color: #333;
	padding: 0 15px 0 15px;
	letter-spacing: 3;
}
.nav-btn:hover{
	border-bottom:8px solid salmon;
}
#menu-toggle:checked ~ #control-panel{
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
}
#control-panel{
	height: 500px;
	width: 370px;
	right: 0;
	top: 50%;
	position: absolute;
	transform: translateY(-50%) translateX(320px);
	-webkit-transform: translateY(-50%) translateX(320px);
  	-ms-transform: translateY(-50%) translateX(320px);
	z-index:99999;
	transition: transform 0.4s ease-in-out;
}
#controls{
	float: left;
	height:500px;
	width:50px;
	background:lightblue;
	/*opacity: 0.2;*/
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	/*border: 1px solid red;*/
}
#algorithms{
	background:rgba(20, 20, 20, 0.5);
	/*border: 1px solid blue;*/
	height:500px;
	width: 320px;
	float: right;
}
.control-btn{
	height:40px;
	width:40px;
	position:absolute;
	border-radius:100%;
	border:none;
	background: transparent;
	outline:none;
	cursor: pointer;
	border: 2px solid #666;
	left: 5;
}
#play-btn{
	background: lightgreen;
}
#stop-btn{
	background: salmon;
}
.btn-1{
	top:14;
}
.btn-2{
	top:68;
}
.btn-3{
	top:122;
}
.btn-4{
	top:176;
}
.btn-5{
	top:230;
}
.btn-6{
	top:284;
}
.btn-7{
	top:338;
}
.btn-8{
	top:392;
}
.btn-9{
	top:446;
}
.control-btn:hover{
	border-width: 3px;
}
#open-btn{
	box-sizing:border-box;
	background: white;
}
#graph-instructions{
	font-family: monospace;
	color:white;
}
.page{
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}
.graph-node{
	fill: lightblue;
	stroke: #666;
	stroke-width: 4;
}
.graph-node:hover{
	cursor: pointer;
	fill: lightgreen;
	/*stroke-width: 6;*/
}
.temp-line{
	stroke: #666;
	stroke-width:4;
	/*stroke-dasharray: 10 5;*/
}
.perma-line{
	stroke: #666;
	stroke-width:4;
	/*stroke-dasharray: 10 5;*/
}
.perma-line:hover{
	stroke: salmon;
	cursor: pointer;
}
.path-line{
	stroke: yellow;
	stroke-width:4;
	/*stroke-dasharray: 10 5;*/
}
.path-node{
	stroke: yellow;
	stroke-width: 4;
}
.starting-node{
	fill: lightgreen;
}
.finishing-node{
	fill: salmon;
}
