@import 'presets';
@import 'switches';
@import 'graph';
@import 'grid';

body{
	overflow: hidden;
	margin:0;
    padding:0;
}

#nav-bar{
    @include horizontal-center();
    @include unselectable();
    position: absolute;
    top: 20;
    ul{
        margin:0;
        padding:0;
        
        li{
            display: inline-block;
        }
    }
}

.page{
    display: none;
    width:100%;
    z-index:10000;
    height: 100%;
}
.nav-btn{
    border: none;
    background: none;
    outline: none;
    font-size: 40px;
    margin:0;
    padding: 0 20px 0 20px;
    color: $text-color;
    cursor: pointer;
    &:hover{
        @include nav-hover();
    }
}
#graph-page{
    height: 100%;
}
.instruction-panel{
    background:rgba(20, 20, 20, 0.5); 
    height: 330px;
    border-radius: 10px;
    width: 250px;
    top: 20px;
    padding: 10px;
    left: 20px;
    color: white;
    font-size: 15px;
    font-family: Arial;
    position: absolute;
    h3{
        text-align: center;
    }
    h4{
        padding:0;
        margin:5px 0 0 0;
    }
    p{
        padding:0;
        margin:5px 0 0 0;
    }
}
